<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body {
            background-color: #D5E8D4;  /* This is a light green color */
        }
    </style>

    <title>Class Data</title>

</head>
<body>
    <div class="container">
        <h2 class="text-center mt-4" style="font-size: 32px; font-weight: bold; color: #333;">Class Data - {{ class_name }}</h2>

        <!-- Create a central div for Score -->
        <div class="row justify-content-center mt-4">
            <h3 style="font-size: 40px; font-weight: bold; color: #FF0000;" class="score-animate">Score: {{ score }}</h3>
        </div>

        <!-- Align Input Data and Visualize Data side by side -->
        <div class="row justify-content-center mt-4">
            <div class="col-md-5">
                <h3 style="font-size: 24px; font-weight: bold; color: #666;">Input Data</h3>
                <div class="d-flex flex-wrap justify-content-center mt-4">
                    <form action="{{ url_for('submit_vote') }}" method="post">
                        <button type="submit" name="transport_mode" value="foot" class="btn btn-primary" style="background-color: #8BC34A;">
                            <i class="fas fa-walking"></i> Foot
                        </button>
                        <button type="submit" name="transport_mode" value="bike" class="btn btn-primary" style="background-color: #9CCC65;">
                            <i class="fas fa-bicycle"></i> Bike
                        </button>
                        <button type="submit" name="transport_mode" value="bus" class="btn btn-primary" style="background-color: #FF9800;">
                            <i class="fas fa-bus"></i> Bus
                        </button>
                        <button type="submit" name="transport_mode" value="carpooling" class="btn btn-primary" style="background-color: #FF5722;">
                            <i class="fas fa-users"></i> Carpooling
                        </button>
                        <button type="submit" name="transport_mode" value="car" class="btn btn-primary" style="background-color: #FF3D00;">
                            <i class="fas fa-car"></i> Car
                        </button>
                        <button type="submit" name="transport_mode" value="other" class="btn btn-primary" style="background-color: #607D8B;">
                            <i class="fas fa-question"></i> Other
                        </button>
                    </form>
                </div>
                <div class="row justify-content-center mt-4">
                    <button class="btn btn-danger" id="return">Delete last vote</button>
                </div>
            </div>
            <div class="col-md-5">
                <h3 style="font-size: 24px; font-weight: bold; color: #666;">Visualize Data</h3>
                <div id="data-dashboard" class="mt-4">
                    <canvas id="histogram" style="width: 80%; height: 320px;"></canvas>
                </div>
            </div>
        </div>

        <!-- Date filter form -->
        <div class="mt-4 text-center">
            <form id="date-filter-form" style="display: inline-block;">
                <label for="date-filter">Select a date:</label>
                <input type="date" id="date-filter" name="date-filter" value="{{ selected_date }}" style="width: 50%;">
                <button type="submit" style="width: 100px; height: 30px;">Filter</button>
            </form>
        </div>

         <!-- Show alert if there is no data -->
        <div id="no-data-message" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
          No data for the selected date.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
        <!-- Pie chart -->
        <div id="pie-chart-container" class="mt-4 text-center" style="width: 80%; height: 320px; margin: 0 auto;">
            <canvas id="piechart" class="fadeIn"></canvas>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    <script>
      // Get the transport_list data from the Flask template variable
      const transportList = JSON.parse('{{ transport_list | tojson | safe }}');

      // Create a new histogram chart
      const ctx = document.getElementById('histogram').getContext('2d');
      const histogramChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Foot', 'Bike', 'Bus', 'Carpooling', 'Car', 'Other'], // Update the labels order
          datasets: [{
            label: 'Number of Votes',
            data: [transportList[0], transportList[1], transportList[3], transportList[4], transportList[2], transportList[5]], // Update the dataset order
            backgroundColor: [
              '#8BC34A', // Foot
              '#4CAF50', // Bike
              '#FFC107', // Bus
              '#F44336', // Carpooling
              '#FF5722', // Car
              '#607D8B'  // Other
            ]
          }]
        },
        options: {
          maintainAspectRatio: false, // Disable aspect ratio
          scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              min: 0
            },
            title: {
              display: true,
              text: 'Number of Votes' // Add a title to the y-axis
            }
          }],
          xAxes: [{
            title: {
              display: true,
              text: 'Transport Mode' // Add a title to the x-axis
            }
          }]
        },
          plugins: {
            legend: {
              display: false // Hide the legend
            },
            tooltip: {
              enabled: true, // Enable tooltips
              callbacks: {
                label: function(tooltipItem) {
                  // Format the tooltip label as an integer
                  return Math.round(tooltipItem.value);
                }
              }
            }
          }
        }
      });

      // Add event listener to the Return button
      const returnButton = document.getElementById('return');
      returnButton.addEventListener('click', function() {
        // Send POST request to delete last vote
        fetch('/delete_last_vote', {
          method: 'POST'
        })
          .then(function(response) {
            if (response.ok) {
              // Reload the page to update the chart and score
              location.reload();
            } else {
              console.error('Error deleting last vote:', response.statusText);
            }
          })
          .catch(function(error) {
            console.error('Error deleting last vote:', error);
          });
      });
    </script>

    <<script type="text/javascript">
      // Function to generate pie chart data
      function generatePieChartData(transportData) {
        const transportLabels = ['Foot', 'Bike', 'Bus', 'Carpooling', 'Car', 'Other'];
        const transportDataList = [
          transportData.foot,
          transportData.bike,
          transportData.bus,
          transportData.carpooling,
          transportData.car,
          transportData.other,
        ];
        const backgroundColors = ['#8BC34A', '#9CCC65', '#FF9800', '#FF5722', '#FF3D00', '#607D8B'];

        const totalVotes = transportDataList.reduce((a, b) => a + b, 0);
        if (totalVotes === 0) {
          return {
            labels: ['No data for the selected date'],
            datasets: [
              {
                data: [1], // We just need one section
                backgroundColor: ['#CCCCCC'], // Any color of your choice
              },
            ],
          };
        }

        return {
          labels: transportLabels,
          datasets: [
            {
              label: 'Votes',
              data: transportDataList,
              backgroundColor: backgroundColors,
            },
          ],
        };
      }

      // Create the Pie chart
      const pieCtx = document.getElementById('piechart').getContext('2d');
      let pieChart = new Chart(pieCtx, {
        type: 'pie',
        data: generatePieChartData({}), // initial empty data
      });

      // Function to fetch and update chart
      function fetchAndUpdateChart(date) {
        const messageElement = document.getElementById('no-data-message');
        messageElement.style.display = 'none'; // Hide the message initially

        fetch('/get_vote_data?date=' + date)
          .then(function(response) {
            if (response.ok) {
              return response.json();
            } else {
              console.log('Response status:', response.status);
              console.log('Response status text:', response.statusText);
              throw new Error('Error fetching data for selected date. Status: ' + response.status);
            }
          })
          .then(function(transportData) {
            console.log('Fetched transport data:', transportData);
            pieChart.destroy(); // remove old chart
            pieChart = new Chart(pieCtx, {
              type: 'pie',
              data: generatePieChartData(transportData),
            });
          })
          .catch(function(error) {
            console.error('Error fetching data for selected date:', error);
            // Display empty pie chart with label and show the message temporarily
            pieChart.destroy(); // remove old chart
            pieChart = new Chart(pieCtx, {
              type: 'pie',
              data: generatePieChartData({}),
            });
            messageElement.style.display = 'block'; // Show the message
            setTimeout(function() {
              messageElement.style.display = 'none'; // Hide the message after 3 seconds
            }, 3000);
          });
      }

      // Add event listener to the date filter form
      const dateFilterForm = document.getElementById('date-filter-form');
      dateFilterForm.addEventListener('submit', function(event) {
        event.preventDefault();
        const selectedDate = document.getElementById('date-filter').value;
        fetchAndUpdateChart(selectedDate);
      });

      // Manually fetch data for the current date after the page load
      const today = new Date().toISOString().substring(0, 10); // get today's date in 'YYYY-MM-DD' format
      fetchAndUpdateChart(today);
    </script>

</body>
</html>
